In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import string
import re
import matplotlib.pyplot as plt
# library for train test split

In [2]:
df = pd.read_csv("flip3.csv")#read

In [3]:
df.head()#eda

,reviewId,content,score,label
0,fd212db8-ac94-4b33-9321-5e123f8686cd,"Saya suka dengan aplikasi ini, benar- benar me...",3,negatif
1,b8cc5911-6498-4448-8a12-184b444162fc,"Halo.. saya pengguna lama , dari tahun 2019. A...",3,positif
2,5132d329-c7ca-44a0-9975-750c161558e3,Sejak tgl 10 juni 2022 saya transaksi flip ke ...,3,negatif
3,1d926f7b-902d-4f21-9858-554947e5ab3a,Sekarang lbh ribet kl mau validasi status tran...,3,negatif
4,578e21b8-85f6-43b7-9ee7-b98096581a8f,Aplikasi nya bagus sih cuman sayang fitur prin...,3,positif

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1185 entries, 0 to 1184
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reviewId  1185 non-null   object
 1   content   1185 non-null   object
 2   score     1185 non-null   int64
 3   label     1185 non-null   object
dtypes: int64(1), object(3)
memory usage: 37.2+ KB

In [5]:
df.shape

(1185, 4)

In [6]:
df.isna().sum()

reviewId    0
content     0
score       0
label       0
dtype: int64

In [7]:
df.duplicated().sum()

158

clean

In [8]:
# jadikan huruf kecil dan hilangkan mention
X_clean = df['content'].apply(lambda x: re.sub("\\@.*? |\\@.*?[!'#S%&'()*+,-./:;<=>?@[/]^_{|}~]|\\@.*", " ", x.lower()))
# hilangkan link url
X_clean = X_clean.apply(lambda x: re.sub("http.*? |http.*?[!'#S%&'()*+,-./:;<=>?@[/]^_{|}~]|http.*", " ", x))
# hilangkan hashtag
X_clean = X_clean.apply(lambda x: re.sub("#.*? |#.*?[!'#S%&'()*+,-./:;<=>?@[/]^_{|}~]|#.*", " ", x))
# hilangkan html tag
X_clean = X_clean.apply(lambda x: re.sub("<.*?>", " ", x))
# hilangkan angka
X_clean = X_clean.apply(lambda x: re.sub("[0-9]", " ", x))
# Ganti ? jadi "questionmark"
X_clean = X_clean.apply(lambda x: re.sub("[?]", " questionmark", x))
# Ganti ! jadi "exclamationmark"
X_clean = X_clean.apply(lambda x:  re.sub("[!]", " exclamationmark", x))
# Hilangkan semua kecuali kata dan spasi
X_clean = X_clean.apply(lambda x: re.sub("'s", " ", x))
X_clean = X_clean.apply(lambda x: re.sub("[^\w\s]", " ", x))
# Hilangkan spasi berlebih
X_clean = X_clean.apply(lambda x: re.sub(" +", " ", x.strip()))

In [9]:
df['content']= X_clean # buat kembalikan hasil cleaning

In [10]:
df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii')) #hapus emoticon

In [11]:
df = df.drop_duplicates(subset=["content"]) ##hapus duplikasi
df.reset_index(drop=True, inplace = True)

In [12]:
df.drop('score',
  axis='columns', inplace=True)

In [13]:
# label encoding, menjadikan nilai negatif = 0 & positif = 1
df['Target_type']= df['label'].map({'negatif': 0, 'positif':1})

### Jadikan hasil cleannya jadi df

In [14]:
df.to_csv('df_clean.csv')