# Mengimport Library yang dibutuhkan

In [106]:
import pandas as pd # untuk membaca data
import string
import re #untuk cleaning tanda baca
from sklearn.preprocessing import OrdinalEncoder

# Membaca dataset

In [107]:
df = pd.read_csv("flip3.csv") # read

# EDA (Exploratory Data Analysis)
## Before Cleaning

In [108]:
df.head() # Melihat 5 data teratas

,reviewId,content,score,label
0,fd212db8-ac94-4b33-9321-5e123f8686cd,"Saya suka dengan aplikasi ini, benar- benar me...",3,negatif
1,b8cc5911-6498-4448-8a12-184b444162fc,"Halo.. saya pengguna lama , dari tahun 2019. A...",3,positif
2,5132d329-c7ca-44a0-9975-750c161558e3,Sejak tgl 10 juni 2022 saya transaksi flip ke ...,3,negatif
3,1d926f7b-902d-4f21-9858-554947e5ab3a,Sekarang lbh ribet kl mau validasi status tran...,3,negatif
4,578e21b8-85f6-43b7-9ee7-b98096581a8f,Aplikasi nya bagus sih cuman sayang fitur prin...,3,positif

In [109]:
df.info() # Melihat informasi dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1185 entries, 0 to 1184
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reviewId  1185 non-null   object
 1   content   1185 non-null   object
 2   score     1185 non-null   int64
 3   label     1185 non-null   object
dtypes: int64(1), object(3)
memory usage: 37.2+ KB

In [110]:
df.shape # Melihat jumlah data dan jumlah atribut

(1185, 4)

In [111]:
df.isna().sum() # Melihat data yang bernilai null

reviewId    0
content     0
score       0
label       0
dtype: int64

In [112]:
df.duplicated().sum() # Melihat nilai duplikat

158

# Data cleaning

## Membersihkan data

In [113]:
# jadikan huruf kecil dan hilangkan mention
X_clean = df['content'].apply(lambda x: re.sub("\\@.*? |\\@.*?[!'#S%&'()*+,-./:;<=>?@[/]^_{|}~]|\\@.*", " ", x.lower()))
# hilangkan link url
X_clean = X_clean.apply(lambda x: re.sub("http.*? |http.*?[!'#S%&'()*+,-./:;<=>?@[/]^_{|}~]|http.*", " ", x))
# hilangkan hashtag
X_clean = X_clean.apply(lambda x: re.sub("#.*? |#.*?[!'#S%&'()*+,-./:;<=>?@[/]^_{|}~]|#.*", " ", x))
# hilangkan html tag
X_clean = X_clean.apply(lambda x: re.sub("<.*?>", " ", x))
# hilangkan angka
X_clean = X_clean.apply(lambda x: re.sub("[0-9]", " ", x))
# Ganti ? jadi "questionmark"
X_clean = X_clean.apply(lambda x: re.sub("[?]", " questionmark", x))
# Ganti ! jadi "exclamationmark"
X_clean = X_clean.apply(lambda x:  re.sub("[!]", " exclamationmark", x))
# Hilangkan semua kecuali kata dan spasi
X_clean = X_clean.apply(lambda x: re.sub("'s", " ", x))
X_clean = X_clean.apply(lambda x: re.sub("[^\w\s]", " ", x))
# Hilangkan spasi berlebih
X_clean = X_clean.apply(lambda x: re.sub(" +", " ", x.strip()))

## Mengembalikan hasil cleaning data ke dalam dataframe

In [114]:
df['content']= X_clean # Mengembalikan hasil cleaning

## Menghapus emoticon

In [115]:
df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii')) # Hapus emoticon

## Menghapus duplikasi

In [116]:
df = df.drop_duplicates(subset=["content"]) # Hapus duplikasi
df.reset_index(drop=True, inplace = True)

## Menghapus kolom score

In [117]:
df.drop('score',
  axis='columns', inplace=True)

## Encoding label

In [118]:
encoder = OrdinalEncoder()
# label encoding, menjadikan nilai negatif = 0 & positif = 1
df['label'] = encoder.fit_transform(df[['label']])

# EDA (Exploratory Data Analysis)
## After Cleaning

In [119]:
df.head() # Melihat 5 data teratas

,reviewId,content,label
0,fd212db8-ac94-4b33-9321-5e123f8686cd,saya suka dengan aplikasi ini benar benar memu...,0.0
1,b8cc5911-6498-4448-8a12-184b444162fc,halo saya pengguna lama dari tahun awalnya say...,1.0
2,5132d329-c7ca-44a0-9975-750c161558e3,sejak tgl juni saya transaksi flip ke btn stat...,0.0
3,1d926f7b-902d-4f21-9858-554947e5ab3a,sekarang lbh ribet kl mau validasi status tran...,0.0
4,578e21b8-85f6-43b7-9ee7-b98096581a8f,aplikasi nya bagus sih cuman sayang fitur prin...,1.0

In [120]:
df.info() # Melihat informasi dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989 entries, 0 to 988
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reviewId  989 non-null    object
 1   content   989 non-null    object
 2   label     989 non-null    float64
dtypes: float64(1), object(2)
memory usage: 23.3+ KB

In [121]:
df.shape # Melihat jumlah data dan jumlah atribut

(989, 3)

In [122]:
df.isna().sum() # Melihat data yang bernilai null

reviewId    0
content     0
label       0
dtype: int64

In [123]:
df.duplicated().sum() # Melihat nilai duplikat

0

# Simpan data clean ke dalam csv baru

In [124]:
df.to_csv('df_clean.csv')

# Load dataset

In [125]:
dt = pd.read_csv('df_clean.csv')
del dt['Unnamed: 0']## menghapus kolom unmaned 0